.todo{
    display: flex;
    flex-direction: column;
}

.todo--box{
    height: 40px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 5px;
}